@font-face {
    font-family: Roboto;
    src: url('../Fonts/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url('../Fonts/Roboto-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url('../Fonts/Roboto-Medium.ttf');
    font-style: 600;
}